emacs.txt
local/
aborn-installed-packages
ab-installed-packages
**/*temp.el
temp.txt
custom.el
*.swp
**/**.DS_Store
configs/custom.el.bak
gfanton.org
init-aborn.el
init-gfanton.el
**/.DS_Store
init/init的副本.el
init的副本.el

*.zip
*.rar
*.bak
*.log
*.temp
*.via
*.tmp
**/others
*.diff
*.err
*.orig
*.log
*~
.cache
.hg
.svn

# Other stuff
*.pyc
/tmp
Thumbnails
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
# Files that might appear on external disk
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
.spacemacs.env
.project
